.MuiPaper-root.MuiAppBar-colorPrimary{
    background-color: #fff;
    color:#000;
    box-shadow:none;
}
.btngropright{
    margin:0;
    .MuiAvatar-root{
        width:30px;
        height:30px;
        margin:0 5px;
    }
}